*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", "sans-serif";
    margin: 0;
    background-color: brown;
}


button:hover{
    background-color: black(101, 33, 165);

}   

.container{
    max-width: 1400px;
    margin: auto;  
}                   

header{
    background-color: rgb(245, 245, 245);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: brown;
    font-size: 1.6em; 
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

    
}

header a:hover{
    color: brown;
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    
     header .container{
         flex-direction: row;  
         justify-content: space-between;
     }


    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}